@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.filterbtn {
  border: 1px solid grey;
  padding: 5px 20px;
  border-radius: 40px;
  box-shadow: 3px 3px rgb(216, 215, 215);
}

.active {
  background-color: #3e4152;
  color: white;
  
  border: 1px solid;
}
.active i {
  display: block;
}
.hover-navbar {
  @apply px-3 py-3  hover:text-orange-500 ;
}
.overflow-hidden {
  overflow: hidden;
}

/* Loader/spinner */
.loader {
  width: 85px;
  height: 85px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  opacity: 70%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}


/* loader property for lazy loading shimmer */
.loader_lazy_shimmer {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader_lazy_shimmer div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}

.loader_lazy_shimmer div {
  transform: rotate(calc(30deg * var(--i))) translate(0, -130%);
}

.bar1 { --i: 0; }
.bar2 { --i: 1; }
.bar3 { --i: 2; }
.bar4 { --i: 3; }
.bar5 { --i: 4; }
.bar6 { --i: 5; }
.bar7 { --i: 6; }
.bar8 { --i: 7; }
.bar9 { --i: 8; }
.bar10 { --i: 9; }
.bar11 { --i: 10; }
.bar12 { --i: 11; }




